.nds__search {
	display: flex;
	height: 30px;
}

.nds__search-input {
	margin-right: .5em;
	line-height: 1.75;
	width: 20em;
}

.nds__option {
	display: inline-block;
	margin: 0 1em 1em 0;
}

// Hack to force Select All down to next line w/out taking up full width
.nds__option--select-all {
	display: inline;
}
.nds__option--select-all:before {
	content: "\A";
	white-space: pre;
}

.nds__button {}

.nds__results {}

.nds__result {}